{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span>
					<span>Checkout</span></p>
				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		{% if total %}
		<div class="row justify-content-center">
			<form action="{% url 'checkout' %}" class="billing-form" method="POST">
				{% csrf_token %}

			<div class="col-xl-7 ftco-animate">

					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								Address<input type="textarea" name="address" rows="4" cols="50" class="form-control" placeholder="#303,John street,Texas,US">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" name="mobile" class="form-control" placeholder="mobile number +919xxxxxx">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
						</div>
					</div>

			</div>
			<div class="col-xl-5">
				<div class="row mt-5 pt-3">
					<div class="col-md-12 d-flex mb-5">
						<div class="cart-detail cart-total p-3 p-md-4">
							<h3 class="billing-heading mb-4">Cart Total</h3>
							<p class="d-flex">
								<span>Subtotal</span>
								<span>INR {{total}}</span>
							</p>
							<p class="d-flex">
								<span>Delivery</span>
								<span>INR 0.00</span>
							</p>
							<hr>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>INR {{total}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-12">
						<div class="cart-detail p-3 p-md-4">
							<h3 class="billing-heading mb-4">Payment Method</h3>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="optradio" class="mr-2"> Cash On
											Delivery</label>
									</div>
								</div>
							</div>
							<input class="btn btn-primary py-3 px-4" type="submit" value="Place an order" class="btn btn-primary py-3 px-5">
						</div>
					</div>
				</div>

			</div> <!-- .col-md-8 -->
		</form><!-- END -->
		</div>
		{% else %}
		 <p>Your cart is empty, nothing to checkout </p>
		{% endif %}
	</div>
</section> <!-- .section -->


<script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>
{% endblock %}