{% extends 'base/base.html' %}
{% include 'base/header.html' %}
{% load static %}

{% block content %}

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form class="bg-white p-5 contact-form" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {% block user_form %}
              {% for error in form.errors %}
              {{error}}
              {% endfor %}              
              <!-- {{form.errors}}
              <div class="form-group">
                {{ form.username.label }}                
                {{ form.username }}
                {{ form.username.errors }}


              </div>
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
                {{ form.password.errors }}

              </div> -->
              {% for field in form %}
              
              <div class="form-group">
                {{field.errors}}
                {{field.label}}:{{field}}
              </div>
              {% endfor %}

              <div class="form-group">
                Don't have any account? Create one <a href="{% url 'register' %}">here</a>.  <small class="text-muted ml-2">
                  <a href="{% url 'password_reset' %}">Forgot Password?</a>
              </small>
                <input type="submit" value="Sign In" class="btn btn-primary py-3 px-5">
              </div>

              {% endblock %}
            </form>
          </div>
          <div class="col-md-6 d-flex">
          	<div id="" class="bg-white">
             <img src="{% static 'images/image_5.jpg' %}" width="100%" height="100%"> 
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}