{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Forget Paasword</span></p>
            <h1 class="mb-0 bread">Forget Paasword  </h1>
          </div>
          <div class="alert alert-info">
            <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Reset Password</legend>
                  {{ form }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
              </div>
          </form>        
        </div>
        </div>
      </div>
    </div>

    <section class="ftco-section contact-section bg-light">


    </section>
{% endblock %}
