{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Contact us</span></p>
            <h1 class="mb-0 bread">Contact us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
      	<div class="row d-flex mb-5 contact-info">
          <div class="w-100"></div>
          <div class="col-md-4 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Address:</span> Julbee Hill, Road-14, Hyderabaad, TS-500033</p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Phone:</span> <a href="tel://01925288772">+91 1925 288772</a></p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Email:</span> <a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
	          </div>
          </div>
          <!-- <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>Website</span> <a href="/" target="_blank">github.com/sajib1066</a></p>
	          </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="mp" class="bg-white" style="padding-top: 70px;padding-bottom: 88px;">
              <img class="text-center" style="" width="100%" height="50%" src="https://cdn3d.iconscout.com/3d/premium/thumb/contact-us-5467852-4568171.png">
              <!-- https://cdn3d.iconscout.com/3d/premium/thumb/contact-us-5463949-4568180.png"> -->
            </div>
          </div>
          <div class="col-md-6 ">
            <form class="bg-white p-5 contact-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  <span{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: green">{{ message }}</span>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.name }}
              </div>
              <div class="form-group">
                {{ form.email }}
              </div>
              <div class="form-group">
                {{ form.subject }}
              </div>
              <div class="form-group">
                {{ form.message }}
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
